apiVersion: v1
kind: Secret
metadata:
  name: "thrift-server-db"
  namespace: "{{ meta.namespace }}"
  labels:
    name: "thrift-server-db"
  annotations:
    template.openshift.io/expose-username: "{.data['database-user']}"
    template.openshift.io/expose-password: "{.data['database-password']}"
    template.openshift.io/expose-database_name: "{.data['database-name']}"
stringData:
  database-user: "{{ db_user }}"
  database-password: "{{ db_password }}"
  database-name: "thrift-server-db"