apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "thrift-server-db"
  namespace: "{{ meta.namespace }}"
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: "{{ db_volume_capacity }}"